{% extends "admin/_base.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
<h3>用户 <small>新建</small></h3>
<div class="clearfix">
	<a href="{{ url_for('admin_user.list') }}" class="btn btn-primary pull-right">返回</a>
</div>
<div class="table-responsive">
	<div class="row">
		<div class="col-lg-6">
			<form method="POST" action="{{ url_for('admin_user.create') }}" class="form-horizontal">
				{% include 'admin/adminuser/_form.html' %}
			</form>
		</div>
	</div>
</div>
{% endblock %}
